In [119]:
import pandas as pd
import codecs
import json
from pandas.io.json import json_normalize

In [120]:
conteudo = open('tweets.json')

In [115]:
type(conteudo)

_io.TextIOWrapper

In [127]:
conteudo = open('tweets.json').read()
#_json = json.loads(conteudo)
df = json_normalize(_json)
df = pd.DataFrame.from_dict(_json)

In [147]:
df.head()

,created_at,id,id_str,text,truncated,entities,metadata,source,in_reply_to_status_id,in_reply_to_status_id_str,...,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,lang
contributors_enabled,Tue Jul 23 07:00:03 +0000 2019,1153560388123971584,1153560388123971584,Escala e Rastreamento\nO The Wall Street Journ...,True,NaN,NaN,"<a href=""http://twuffer.com"" rel=""nofollow"">Tw...",None,None,...,None,None,None,False,0,0,False,False,False,pt
created_at,Tue Jul 23 07:00:03 +0000 2019,1153560388123971584,1153560388123971584,Escala e Rastreamento\nO The Wall Street Journ...,True,NaN,NaN,"<a href=""http://twuffer.com"" rel=""nofollow"">Tw...",None,None,...,None,None,None,False,0,0,False,False,False,pt
default_profile,Tue Jul 23 07:00:03 +0000 2019,1153560388123971584,1153560388123971584,Escala e Rastreamento\nO The Wall Street Journ...,True,NaN,NaN,"<a href=""http://twuffer.com"" rel=""nofollow"">Tw...",None,None,...,None,None,None,False,0,0,False,False,False,pt
default_profile_image,Tue Jul 23 07:00:03 +0000 2019,1153560388123971584,1153560388123971584,Escala e Rastreamento\nO The Wall Street Journ...,True,NaN,NaN,"<a href=""http://twuffer.com"" rel=""nofollow"">Tw...",None,None,...,None,None,None,False,0,0,False,False,False,pt
description,Tue Jul 23 07:00:03 +0000 2019,1153560388123971584,1153560388123971584,Escala e Rastreamento\nO The Wall Street Journ...,True,NaN,NaN,"<a href=""http://twuffer.com"" rel=""nofollow"">Tw...",None,None,...,None,None,None,False,0,0,False,False,False,pt

In [136]:
df2 = pd.read_csv('Tweets_Mg.csv')

In [137]:
df2.head()

,Unnamed: 0,Created At,Text,Geo Coordinates.latitude,Geo Coordinates.longitude,User Location,Username,User Screen Name,Retweet Count,Classificacao,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,0,Sun Jan 08 01:22:05 +0000 2017,���⛪ @ Catedral de Santo Antônio - Governador ...,NaN,NaN,Brasil,Leonardo C Schneider,LeoCSchneider,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Sun Jan 08 01:49:01 +0000 2017,"� @ Governador Valadares, Minas Gerais https:/...",-41.9333,-18.85,NaN,Wândell,klefnews,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Sun Jan 08 01:01:46 +0000 2017,"�� @ Governador Valadares, Minas Gerais https:...",-41.9333,-18.85,NaN,Wândell,klefnews,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Wed Jan 04 21:43:51 +0000 2017,��� https://t.co/BnDsO34qK0,NaN,NaN,NaN,Ana estudando,estudandoconcur,0,Neutro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Mon Jan 09 15:08:21 +0000 2017,��� PSOL vai questionar aumento de vereadores ...,NaN,NaN,NaN,Emily,Milly777,0,Negativo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
df2 = df2.drop('Retweet Count',axis=1)

In [139]:
df2 = df2.drop('Geo Coordinates.latitude',axis=1)
df2 = df2.drop('Geo Coordinates.longitude',axis=1)

In [140]:
df2 = df2.drop('Observação',axis=1)
for i in range(10,25):
    df2 = df2.drop('Unnamed: {}'.format(i),axis=1)

In [143]:
df2.head()

,Unnamed: 0,Created At,Text,User Location,Username,User Screen Name,Classificacao
0,0,Sun Jan 08 01:22:05 +0000 2017,���⛪ @ Catedral de Santo Antônio - Governador ...,Brasil,Leonardo C Schneider,LeoCSchneider,Neutro
1,1,Sun Jan 08 01:49:01 +0000 2017,"� @ Governador Valadares, Minas Gerais https:/...",NaN,Wândell,klefnews,Neutro
2,2,Sun Jan 08 01:01:46 +0000 2017,"�� @ Governador Valadares, Minas Gerais https:...",NaN,Wândell,klefnews,Neutro
3,3,Wed Jan 04 21:43:51 +0000 2017,��� https://t.co/BnDsO34qK0,NaN,Ana estudando,estudandoconcur,Neutro
4,4,Mon Jan 09 15:08:21 +0000 2017,��� PSOL vai questionar aumento de vereadores ...,NaN,Emily,Milly777,Negativo

In [144]:
df2 = df2.drop('Created At',axis=1)